{% extends "layout.html.twig" %}
{% block title %}Cases{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="container">
        <h3>CS:GO Cases</h3>
        <ul class="flex-con">
        {% for item in form %}
        <li class="item">
            {% if user.isAuthenticated() %}
                    <p class="title">{{ item['title'] }}</p>
                    <img src="/images/{{item['imageName']}}" alt="caseIcon">
                    <button type="submit" id="form_save" name="form[save]">Open</button>  {{ item['price'] }}
            {% else %}
            <p class="title">{{ item['title'] }}</p>
            <img src="/images/{{item['imageName']}}" alt="caseIcon">
                <p class="prise">{{ item['price'] }}</p>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
